<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity android:name=".ActivityFragment.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login">

        </activity>
        <activity android:name=".SplashScreem">

        </activity>
        <activity android:name=".Registration"></activity>
        <activity android:name=".Dialog.DialogLoaiDongVat"></activity>
        <activity android:name=".Dialog.DialogDongVat"></activity>
        <activity android:name=".Dialog.DialogHoaDonXuat"></activity>
        <activity android:name=".Dialog.DialogHoaDonNhap"></activity>
    </application>

</manifest>